@using ElderScrollsOnlineCraftingOrders.Models
@model UsersPO
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Account details</h2>

<div class="row">
    <div class="col-md-1 col-md-offset-5">
        <text>
            [Username]
        </text>
        <text>
            [Email]
        </text>
        <text>
            [Server]
        </text>
        <text>
            [ESOname]
        </text>
    </div>

    <div class="col-md-1">
        <text>
            @Model.Username
        </text>
        <text>
            @Model.Email
        </text>
        <text>
            @Model.Server
        </text>
        <text>
            @Model.ESOname
        </text>
    </div>
</div>