@using ElderScrollsOnlineCraftingOrders.Models
@model ItemsPO
@{
    ViewBag.Title = "Update Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Item</h2>

@using (Html.BeginForm("UpdateItem", "Items", FormMethod.Post))
{