@{
    ViewBag.Title = "Home Page";
}


<div style="font-family: Caribbean">
    <h1>
        Black Market Wares Crafting Service
    </h1>
</div>
<br />
<div class="text-center" style="font-size: 25px; ">
    <p>Black Market Wares is a trading and crafting guild within Elder Scrolls Online.</p>
    <p>This website/service is available to anyone, to request any crafted items one could possibly need.</p>
    <p>Just make an account, then you can take out an order, and add as many items as you like to the order.</p>
    <p>Next, a crafter will take the order (if you've offered a high enough price) and fulfill it, mailing it to you
    in game.</p>
    <p>Finally, make sure you pay for your order, too many defaulted payments will exclude you from usage of the service.</p>
</div>
<br />
<div class="text-center" style="font-size: 17px;">
    Crafting positions are limited to members of the Black Market Wares Guild.
</div>