@{
    ViewBag.Title = "Home Page";
}


<div>
    <h1>
        Black Market Wares Crafting Service
    </h1>
</div>
<div class="text-center">
    <p>Description and sales pitch goes here</p>
    <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
</div>